body {
	background-color: #66ff66;
}

h1 {
	color: #f9c80E;
	text-align: center;
	font-family: verdana;
	font-size: 30px;
}

p {
	color: #E4FF1A;
	text-align: center;
	font-family: verdana;
	font-size: 30px;
}
